.favoritos-page {
    padding: 2em 4em;
    color: #0f1111;
}

.favoritos-page .page-title {
    font-size: 36px;
    padding-bottom: 30px;
    text-align: center;
    color: #0f1111;
    font-weight: bold;
}

.favoritos-page .container-produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center; 
    margin-top: 20px;
}

.favoritos-page .container-produtos p {
    text-align: center;
    font-size: 18px;
    color: #666;
    width: 100%;
    margin-top: 50px; 
}